
   <div class="header">
        <h1>المدى للاخبار العاجلة</h1>
    </div>

    <div class="navbar">
        <div class="company-name">
            <h1>صحيفة مدى</h1>
        </div>
        <div class="contact-icons">
            <a href="#"><i class="fas fa-phone"></i></a>
            <div class="separator"></div>
            <a href="#"><i class="fas fa-map-marker-alt"></i></a>
            <div class="separator"></div>
            <a href="#"><i class="fas fa-envelope"></i></a>
        </div>
        <ul>
            <li><a href="#">تسجيل الدخول<span><i class="fas fa-sign-in-alt"></i></span></a></li>
            <li><a href="#">اتصل بنا<span><i class="fas fa-envelope"></i></span></a></li>
        <li><a href="FormNews">إضافة خبر<span><i class="fas fa-info-circle"></i></span></a></li>
        <li><a href="NewsByCategory">انواع الاخبار<span><i class="fa-solid fa-newspaper"></i></span></a></li>
        <li><a href="AllNews">جميع الاخبار<span><i class="fa-solid fa-rss"></i></span></a></li>
        </ul>
    <img src="Images/Almada-logo.png" alt="صورة شخصية" class="profile-pic">
    </div>

@code {

}
