@page "/DetalisNew/{newsId:int}"



@if (newsItem == null)
{
    <p>جارٍ تحميل تفاصيل الخبر...</p>
}
else
{
<div class="news-detail-container">
    <img src="https://via.placeholder.com/300x200" alt="صورة الخبر" class="news-image">
    <div class="news-content">
        <div class="news-title-container">
            <h2 class="news-title">@newsItem.Title</h2>
            <div class="news-type politics">@newsItem.CategoryName</div> <!-- نوع الخبر -->
        </div>
        <p class="news-description">
            @newsItem.Content
        </p>
    </div>
</div>
}

